{
  "name": {{cluster.name}},
  "description": {{cluster.description}},
  "vxnet": {{cluster.vxnet}},
  "multi_zone_policy": "round_robin",
  "advanced_actions": [
    "scale_horizontal"
  ],
  "upgrade_policy": [
    "appv-gugdyi1k",
    "appv-y7b7157t"
  ],
  "upgrading_policy": "sequential",
  "nodes": [{
    "role": "es_node",
    "container": {
      "type": "kvm",
      "zone": "pek3",
      "image": "img-1gahq5h1"
    },
    "instance_class": {{cluster.es_node.instance_class}},
    "count": {{cluster.es_node.count}},
    "cpu": {{cluster.es_node.cpu}},
    "memory": {{cluster.es_node.memory}},
    "volume": {
      "size": {{cluster.es_node.volume_size}},
      "mount_point": ["/data"],
      "class": {{cluster.es_node.volume_class}}
    },
    "vertical_scaling_policy": "sequential",
    "services": {
      "init": {
        "cmd": "appctl init"
      },
      "start": {
        "cmd": "appctl start"
      },
      "stop": {
        "cmd": "appctl stop"
      },
      "restart": {
        "cmd": "appctl restart"
      },
      "scale_in": {
        "pre_check": "appctl preScaleInCheck",
        "cmd": "appctl scaleIn",
        "timeout": 24000
      },
      "scale_out": {
        "cmd": "appctl scaleOut",
        "timeout": 43200
      },
      "destroy": {
        "allow_force": false,
        "post_stop_service": true,
        "cmd": "appctl destroy"
      },
      "restart_rolling": {
        "type": "custom",
        "cmd": "appctl rollingRestart",
        "timeout": 2000,
        "service_params": {
          "node.ip": {{service_params.restart.node.ip}},
          "timeout": {{service_params.restart.timeout}}
        }
      },
      "dump": {
        "type": "custom",
        "cmd": "appctl dump",
        "service_params": {
          "node.ip": {{service_params.dump.node.ip}},
          "timeout": {{service_params.dump.timeout}}
        },
        "timeout": 2000
      },
      "clear_dump": {
        "type": "custom",
        "cmd": "appctl clearDump",
        "service_params": {
          "node.ip": {{service_params.clear.dump.node.ip}}
        }
      },
      "upgrade": {
        "cmd": "appctl upgrade",
        "order": 1,
        "post_start_service": true,
        "timeout": 43200
      }
    },
    "env": {
        "static.os.ssl.http.enabled": {{env.global.cert.os.ssl.http.enabled}},
        "static.os.admin_pass": {{env.es_node.static.os.admin_pass}},
        "confd.sysctl.tcp_keepalive_intvl": {{env.es_node.confd.sysctl.tcp_keepalive_intvl}},
        "confd.sysctl.tcp_keepalive_probes": {{env.es_node.confd.sysctl.tcp_keepalive_probes}},
        "confd.sysctl.tcp_keepalive_time": {{env.es_node.confd.sysctl.tcp_keepalive_time}},
        "static.log4j.clean_logs_older_than_n_days": {{env.es_node.static.log4j.clean_logs_older_than_n_days}},
        "dynamic.os.cluster.no_master_block": {{env.es_node.dynamic.os.cluster.no_master_block}},
        "static.jvm.enable_heap_dump": {{env.es_node.static.jvm.enable_heap_dump}},
        "static.os.os_additional_line1": {{env.es_node.static.os.os_additional_line1}},
        "static.os.os_additional_line2": {{env.es_node.static.os.os_additional_line2}},
        "static.os.os_additional_line3": {{env.es_node.static.os.os_additional_line3}},
        "keystore.os.key_value1": {{env.es_node.keystore.os.key_value1}},
        "keystore.os.key_value2": {{env.es_node.keystore.os.key_value2}},
        "keystore.os.key_value3": {{env.es_node.keystore.os.key_value3}},
        "keystore.os.key_value4": {{env.es_node.keystore.os.key_value4}},
        "keystore.os.key_value5": {{env.es_node.keystore.os.key_value5}},
        "static.os.gateway.recover_after_time": {{env.es_node.static.os.gateway.recover_after_time}},
        "static.os.gateway.expected_data_nodes": {{env.es_node.static.os.gateway.expected_data_nodes}},
        "static.os.gateway.recover_after_data_nodes": {{env.es_node.static.os.gateway.recover_after_data_nodes}},
        "static.os.http.cors.enabled": {{env.es_node.static.os.http.cors.enabled}},
        "static.os.http.cors.allow-origin": {{env.es_node.static.os.http.cors.allow-origin}},
        "dynamic.other.enable_exporter": {{env.es_node.prometheus.node.exporter}},
        "dynamic.other.enable_caddy": {{env.global.dynamic.other.enable_caddy}},
        "dynamic.os.prometheus.indices": {{env.es_node.dynamic.os.prometheus.indices}},
        "dynamic.os.prometheus.cluster.settings": {{env.es_node.dynamic.os.prometheus.cluster.settings}},
        "dynamic.os.prometheus.nodes.filter": {{env.es_node.dynamic.os.prometheus.nodes.filter}},
        "dynamic.os.cluster.routing.allocation.enable": {{env.es_node.dynamic.os.cluster.routing.allocation.enable}},
        "static.os.thread_pool.write.queue_size": {{env.es_node.static.os.thread_pool.write.queue_size}},
        "static.os.thread_pool.search.queue_size": {{env.es_node.static.os.thread_pool.search.queue_size}},
        "static.os.indices.memory.index_buffer_size": {{env.es_node.static.os.indices.memory.index_buffer_size}},
        "static.os.indices.fielddata.cache.size": {{env.es_node.static.os.indices.fielddata.cache.size}},
        "static.os.indices.queries.cache.size": {{env.es_node.static.os.indices.queries.cache.size}},
        "static.os.indices.requests.cache.size": {{env.es_node.static.os.indices.requests.cache.size}},
        "static.log4j.rootLogger.level": {{env.es_node.static.log4j.rootLogger.level}},
        "static.log4j.logger.action.level": {{env.es_node.static.log4j.logger.action.level}},
        "static.log4j.logger.deprecation.level": {{env.es_node.static.log4j.logger.deprecation.level}},
        "static.log4j.logger.index_search_slowlog_rolling.level": {{env.es_node.static.log4j.logger.index_search_slowlog_rolling.level}},
        "static.log4j.logger.index_indexing_slowlog.level": {{env.es_node.static.log4j.logger.index_indexing_slowlog.level}},
        "static.log4j.logger.task_detailslog_rolling.level": {{env.es_node.static.log4j.logger.task_detailslog_rolling.level}},
        "static.os.repositories.url.allowed_urls": {{env.es_node.static.os.repositories.url.allowed_urls}},
        "static.os.reindex.remote.whitelist": {{env.es_node.static.os.reindex.remote.whitelist}},
        "static.ik.local_ext_dict": {{env.es_node.static.ik.local_ext_dict}},
        "static.ik.local_ext_stopwords": {{env.es_node.static.ik.local_ext_stopwords}},
        "static.ik.remote_ext_dict": {{env.es_node.static.ik.remote_ext_dict}},
        "static.ik.remote_ext_stopwords": {{env.es_node.static.ik.remote_ext_stopwords}},
        "static.os.script.allowed_types": {{env.es_node.static.os.script.allowed_types}},
        "static.os.script.allowed_contexts": {{env.es_node.static.os.script.allowed_contexts}},
        "dynamic.os.action.destructive_requires_name": {{env.es_node.dynamic.os.action.destructive_requires_name}},
        "static.os.node.attr.data": {{env.es_node.static.os.node.attr.data}},
        "static.os.user_ca_enabled": {{env.global.cert.os.user_ca_enabled}},
        "cert.os.user_ca": {{env.global.cert.os.user_ca}},
        "cert.os.user_node_cert": {{env.global.cert.os.user_node_cert}},
        "cert.os.user_node_key": {{env.global.cert.os.user_node_key}}
    },
    "health_check": {
      "enable": true,
      "interval_sec": 60,
      "timeout_sec": 20,
      "action_timeout_sec": 150,
      "healthy_threshold": 2,
      "unhealthy_threshold": 4,
      "check_cmd": "appctl healthCheck",
      "action_cmd": "appctl revive"
    },
    "monitor": {
      "enable": true,
      "cmd": "appctl measure",
      "items": {
        "cluster_health_status": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "jvm_mem_heap_used_percent": {
          "unit": "%",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "jvm_threads_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "indices_indexing_index_ops": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "delta",
          "scale_factor_when_display": 0.1
        },
        "indices_search_query_ops": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "delta",
          "scale_factor_when_display": 0.1
        },
        "indices_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "shards_total": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "shards_primaries": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "indices_docs_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "indices_docs_deleted": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "nodes_avail_percent": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_nodes": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "relocating_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "initializing_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "unassigned_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_pending_tasks": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_in_flight_fetch": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "task_max_waiting_in_queue_millis": {
          "unit": "ms",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "active_shards_percent": {
          "unit": "%",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "fs_total_avail_percent": {
            "unit": "%",
            "value_type": "int",
            "statistics_type": "latest"
        },
        "os_load_average_1m": {
            "unit": "",
            "value_type": "int",
            "statistics_type": "latest",
            "scale_factor_when_display": 0.01
        },
        "os_load_average_5m": {
            "unit": "",
            "value_type": "int",
            "statistics_type": "latest",
            "scale_factor_when_display": 0.01
        },
        "os_load_average_15m": {
            "unit": "",
            "value_type": "int",
            "statistics_type": "latest",
            "scale_factor_when_display": 0.01
        }
      },
      "groups": {
        "indices_docs_group": ["indices_docs_count", "indices_docs_deleted"],
        "cluster_shards_group": ["relocating_shards", "initializing_shards", "unassigned_shards"],
        "node_shards_group": ["shards_total", "shards_primaries"],
        "os_load_group": ["os_load_average_1m", "os_load_average_5m", "os_load_average_15m"]
      },
      "display": ["cluster_health_status", "nodes_avail_percent", "number_of_nodes", "jvm_mem_heap_used_percent", "jvm_threads_count", "indices_indexing_index_ops", "indices_search_query_ops", "indices_count", "indices_docs_group", "cluster_shards_group", "node_shards_group", "number_of_pending_tasks", "number_of_in_flight_fetch", "task_max_waiting_in_queue_millis", "active_shards_percent", "fs_total_avail_percent", "os_load_group"],
      "alarm": ["cluster_health_status", "nodes_avail_percent", "number_of_nodes", "jvm_mem_heap_used_percent", "jvm_threads_count", "relocating_shards", "unassigned_shards", "number_of_pending_tasks", "number_of_in_flight_fetch", "task_max_waiting_in_queue_millis", "active_shards_percent", "fs_total_avail_percent", "os_load_average_1m", "os_load_average_5m", "os_load_average_15m"]
    }
  }, {
    "role": "es_master_node",
    "container": {
      "type": "kvm",
      "zone": "pek3",
      "image": "img-1gahq5h1"
    },
    "instance_class": {{cluster.es_master_node.instance_class}},
    "count": {{cluster.es_master_node.count}},
    "cpu": {{cluster.es_master_node.cpu}},
    "memory": {{cluster.es_master_node.memory}},
    "volume": {
      "size": {{cluster.es_master_node.volume_size}},
      "class": {{cluster.es_master_node.volume_class}}
    },
    "vertical_scaling_policy": "sequential",
    "services": {
      "init": {
        "cmd": "appctl init"
      },
      "start": {
        "cmd": "appctl start"
      },
      "stop": {
        "cmd": "appctl stop"
      },
      "restart": {
        "cmd": "appctl restart"
      },
      "scale_in": {
        "pre_check": "appctl preScaleInCheck",
        "cmd": "appctl scaleIn",
        "timeout": 24000
      },
      "scale_out": {
        "cmd": "appctl scaleOut",
        "timeout": 43200
      },
      "destroy": {
        "allow_force": false,
        "post_stop_service": true,
        "cmd": "appctl destroy"
      },
      "restart_rolling": {
        "type": "custom",
        "cmd": "appctl rollingRestart",
        "timeout": 2000,
        "service_params": {
          "node.ip": {{service_params.restart.node.ip}},
          "timeout": {{service_params.restart.timeout}}
        }
      },
      "dump": {
        "type": "custom",
        "cmd": "appctl dump",
        "service_params": {
          "node.ip": {{service_params.dump.node.ip}},
          "timeout": {{service_params.dump.timeout}}
        },
        "timeout": 2000
      },
      "clear_dump": {
        "type": "custom",
        "cmd": "appctl clearDump",
        "service_params": {
          "node.ip": {{service_params.clear.dump.node.ip}}
        }
      },
      "upgrade": {
        "cmd": "appctl upgrade",
        "order": 4,
        "post_start_service": true,
        "timeout": 43200
      }
    },
    "env": {
        "static.os.ssl.http.enabled": {{env.global.cert.os.ssl.http.enabled}},
        "static.os.admin_pass": {{env.es_node.static.os.admin_pass}},
        "confd.sysctl.tcp_keepalive_intvl": {{env.es_node.confd.sysctl.tcp_keepalive_intvl}},
        "confd.sysctl.tcp_keepalive_probes": {{env.es_node.confd.sysctl.tcp_keepalive_probes}},
        "confd.sysctl.tcp_keepalive_time": {{env.es_node.confd.sysctl.tcp_keepalive_time}},
        "static.log4j.clean_logs_older_than_n_days": {{env.es_node.static.log4j.clean_logs_older_than_n_days}},
        "dynamic.os.cluster.no_master_block": {{env.es_node.dynamic.os.cluster.no_master_block}},
        "static.jvm.enable_heap_dump": {{env.es_node.static.jvm.enable_heap_dump}},
        "static.os.os_additional_line1": {{env.es_node.static.os.os_additional_line1}},
        "static.os.os_additional_line2": {{env.es_node.static.os.os_additional_line2}},
        "static.os.os_additional_line3": {{env.es_node.static.os.os_additional_line3}},
        "keystore.os.key_value1": {{env.es_node.keystore.os.key_value1}},
        "keystore.os.key_value2": {{env.es_node.keystore.os.key_value2}},
        "keystore.os.key_value3": {{env.es_node.keystore.os.key_value3}},
        "keystore.os.key_value4": {{env.es_node.keystore.os.key_value4}},
        "keystore.os.key_value5": {{env.es_node.keystore.os.key_value5}},
        "static.os.gateway.recover_after_time": {{env.es_node.static.os.gateway.recover_after_time}},
        "static.os.gateway.expected_data_nodes": {{env.es_node.static.os.gateway.expected_data_nodes}},
        "static.os.gateway.recover_after_data_nodes": {{env.es_node.static.os.gateway.recover_after_data_nodes}},
        "static.os.http.cors.enabled": {{env.es_node.static.os.http.cors.enabled}},
        "static.os.http.cors.allow-origin": {{env.es_node.static.os.http.cors.allow-origin}},
        "dynamic.other.enable_exporter": {{env.es_node.prometheus.node.exporter}},
        "dynamic.other.enable_caddy": {{env.global.dynamic.other.enable_caddy}},
        "dynamic.os.prometheus.indices": {{env.es_node.dynamic.os.prometheus.indices}},
        "dynamic.os.prometheus.cluster.settings": {{env.es_node.dynamic.os.prometheus.cluster.settings}},
        "dynamic.os.prometheus.nodes.filter": {{env.es_node.dynamic.os.prometheus.nodes.filter}},
        "dynamic.os.cluster.routing.allocation.enable": {{env.es_node.dynamic.os.cluster.routing.allocation.enable}},
        "static.os.thread_pool.write.queue_size": {{env.es_node.static.os.thread_pool.write.queue_size}},
        "static.os.thread_pool.search.queue_size": {{env.es_node.static.os.thread_pool.search.queue_size}},
        "static.os.indices.memory.index_buffer_size": {{env.es_node.static.os.indices.memory.index_buffer_size}},
        "static.os.indices.fielddata.cache.size": {{env.es_node.static.os.indices.fielddata.cache.size}},
        "static.os.indices.queries.cache.size": {{env.es_node.static.os.indices.queries.cache.size}},
        "static.os.indices.requests.cache.size": {{env.es_node.static.os.indices.requests.cache.size}},
        "static.log4j.rootLogger.level": {{env.es_node.static.log4j.rootLogger.level}},
        "static.log4j.logger.action.level": {{env.es_node.static.log4j.logger.action.level}},
        "static.log4j.logger.deprecation.level": {{env.es_node.static.log4j.logger.deprecation.level}},
        "static.log4j.logger.index_search_slowlog_rolling.level": {{env.es_node.static.log4j.logger.index_search_slowlog_rolling.level}},
        "static.log4j.logger.index_indexing_slowlog.level": {{env.es_node.static.log4j.logger.index_indexing_slowlog.level}},
        "static.log4j.logger.task_detailslog_rolling.level": {{env.es_node.static.log4j.logger.task_detailslog_rolling.level}},
        "static.os.repositories.url.allowed_urls": {{env.es_node.static.os.repositories.url.allowed_urls}},
        "static.os.reindex.remote.whitelist": {{env.es_node.static.os.reindex.remote.whitelist}},
        "static.ik.local_ext_dict": {{env.es_node.static.ik.local_ext_dict}},
        "static.ik.local_ext_stopwords": {{env.es_node.static.ik.local_ext_stopwords}},
        "static.ik.remote_ext_dict": {{env.es_node.static.ik.remote_ext_dict}},
        "static.ik.remote_ext_stopwords": {{env.es_node.static.ik.remote_ext_stopwords}},
        "static.os.script.allowed_types": {{env.es_node.static.os.script.allowed_types}},
        "static.os.script.allowed_contexts": {{env.es_node.static.os.script.allowed_contexts}},
        "dynamic.os.action.destructive_requires_name": {{env.es_node.dynamic.os.action.destructive_requires_name}},
        "static.os.user_ca_enabled": {{env.global.cert.os.user_ca_enabled}},
        "cert.os.user_ca": {{env.global.cert.os.user_ca}},
        "cert.os.user_node_cert": {{env.global.cert.os.user_node_cert}},
        "cert.os.user_node_key": {{env.global.cert.os.user_node_key}}
    },
    "health_check": {
      "enable": true,
      "interval_sec": 60,
      "timeout_sec": 20,
      "healthy_threshold": 2,
      "unhealthy_threshold": 4,
      "check_cmd": "appctl healthCheck",
      "action_cmd": "appctl revive",
      "action_timeout_sec": 150
    },
    "monitor": {
      "enable": true,
      "cmd": "appctl measure",
      "items": {
        "cluster_health_status": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "jvm_mem_heap_used_percent": {
          "unit": "%",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "jvm_threads_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "indices_indexing_index_ops": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "delta",
          "scale_factor_when_display": 0.1
        },
        "indices_search_query_ops": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "delta",
          "scale_factor_when_display": 0.1
        },
        "indices_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "shards_total": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "shards_primaries": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "indices_docs_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "indices_docs_deleted": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "nodes_avail_percent": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_nodes": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "relocating_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "initializing_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "unassigned_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_pending_tasks": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_in_flight_fetch": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "task_max_waiting_in_queue_millis": {
          "unit": "ms",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "active_shards_percent": {
          "unit": "%",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "fs_total_avail_percent": {
            "unit": "%",
            "value_type": "int",
            "statistics_type": "latest"
        },
        "os_load_average_1m": {
            "unit": "",
            "value_type": "int",
            "statistics_type": "latest",
            "scale_factor_when_display": 0.01
        },
        "os_load_average_5m": {
            "unit": "",
            "value_type": "int",
            "statistics_type": "latest",
            "scale_factor_when_display": 0.01
        },
        "os_load_average_15m": {
            "unit": "",
            "value_type": "int",
            "statistics_type": "latest",
            "scale_factor_when_display": 0.01
        }
      },
      "groups": {
        "indices_docs_group": ["indices_docs_count", "indices_docs_deleted"],
        "cluster_shards_group": ["relocating_shards", "initializing_shards", "unassigned_shards"],
        "node_shards_group": ["shards_total", "shards_primaries"],
        "os_load_group": ["os_load_average_1m", "os_load_average_5m", "os_load_average_15m"]
      },
      "display": ["cluster_health_status", "nodes_avail_percent", "number_of_nodes", "jvm_mem_heap_used_percent", "jvm_threads_count", "indices_indexing_index_ops", "indices_search_query_ops", "indices_count", "indices_docs_group", "cluster_shards_group", "node_shards_group", "number_of_pending_tasks", "number_of_in_flight_fetch", "task_max_waiting_in_queue_millis", "active_shards_percent", "fs_total_avail_percent", "os_load_group"],
      "alarm": ["cluster_health_status", "nodes_avail_percent", "number_of_nodes", "jvm_mem_heap_used_percent", "jvm_threads_count", "relocating_shards", "unassigned_shards", "number_of_pending_tasks", "number_of_in_flight_fetch", "task_max_waiting_in_queue_millis", "active_shards_percent", "fs_total_avail_percent", "os_load_average_1m", "os_load_average_5m", "os_load_average_15m"]
    }
  }, {
    "role": "es_node_2",
    "container": {
      "type": "kvm",
      "zone": "pek3",
      "image": "img-1gahq5h1"
    },
    "instance_class": {{cluster.es_node_2.instance_class}},
    "count": {{cluster.es_node_2.count}},
    "cpu": {{cluster.es_node_2.cpu}},
    "memory": {{cluster.es_node_2.memory}},
    "volume": {
      "size": {{cluster.es_node_2.volume_size}},
      "mount_point": ["/data"],
      "class": {{cluster.es_node_2.volume_class}}
    },
    "vertical_scaling_policy": "sequential",
    "services": {
      "init": {
        "cmd": "appctl init"
      },
      "start": {
        "cmd": "appctl start"
      },
      "stop": {
        "cmd": "appctl stop"
      },
      "restart": {
        "cmd": "appctl restart"
      },
      "scale_in": {
        "pre_check": "appctl preScaleInCheck",
        "cmd": "appctl scaleIn",
        "timeout": 24000
      },
      "scale_out": {
        "cmd": "appctl scaleOut",
        "timeout": 43200
      },
      "destroy": {
        "allow_force": false,
        "post_stop_service": true,
        "cmd": "appctl destroy"
      },
      "restart_rolling": {
        "type": "custom",
        "cmd": "appctl rollingRestart",
        "timeout": 2000,
        "service_params": {
          "node.ip": {{service_params.restart.node.ip}},
          "timeout": {{service_params.restart.timeout}}
        }
      },
      "dump": {
        "type": "custom",
        "cmd": "appctl dump",
        "service_params": {
          "node.ip": {{service_params.dump.node.ip}},
          "timeout": {{service_params.dump.timeout}}
        },
        "timeout": 2000
      },
      "clear_dump": {
        "type": "custom",
        "cmd": "appctl clearDump",
        "service_params": {
          "node.ip": {{service_params.clear.dump.node.ip}}
        }
      },
      "upgrade": {
        "cmd": "appctl upgrade",
        "order": 2,
        "post_start_service": true,
        "timeout": 43200
      }
    },
    "env": {
        "static.os.ssl.http.enabled": {{env.global.cert.os.ssl.http.enabled}},
        "static.os.admin_pass": {{env.es_node.static.os.admin_pass}},
        "confd.sysctl.tcp_keepalive_intvl": {{env.es_node.confd.sysctl.tcp_keepalive_intvl}},
        "confd.sysctl.tcp_keepalive_probes": {{env.es_node.confd.sysctl.tcp_keepalive_probes}},
        "confd.sysctl.tcp_keepalive_time": {{env.es_node.confd.sysctl.tcp_keepalive_time}},
        "static.log4j.clean_logs_older_than_n_days": {{env.es_node.static.log4j.clean_logs_older_than_n_days}},
        "dynamic.os.cluster.no_master_block": {{env.es_node.dynamic.os.cluster.no_master_block}},
        "static.jvm.enable_heap_dump": {{env.es_node.static.jvm.enable_heap_dump}},
        "static.os.os_additional_line1": {{env.es_node.static.os.os_additional_line1}},
        "static.os.os_additional_line2": {{env.es_node.static.os.os_additional_line2}},
        "static.os.os_additional_line3": {{env.es_node.static.os.os_additional_line3}},
        "keystore.os.key_value1": {{env.es_node.keystore.os.key_value1}},
        "keystore.os.key_value2": {{env.es_node.keystore.os.key_value2}},
        "keystore.os.key_value3": {{env.es_node.keystore.os.key_value3}},
        "keystore.os.key_value4": {{env.es_node.keystore.os.key_value4}},
        "keystore.os.key_value5": {{env.es_node.keystore.os.key_value5}},
        "static.os.gateway.recover_after_time": {{env.es_node.static.os.gateway.recover_after_time}},
        "static.os.gateway.expected_data_nodes": {{env.es_node.static.os.gateway.expected_data_nodes}},
        "static.os.gateway.recover_after_data_nodes": {{env.es_node.static.os.gateway.recover_after_data_nodes}},
        "static.os.http.cors.enabled": {{env.es_node.static.os.http.cors.enabled}},
        "static.os.http.cors.allow-origin": {{env.es_node.static.os.http.cors.allow-origin}},
        "dynamic.other.enable_exporter": {{env.es_node.prometheus.node.exporter}},
        "dynamic.other.enable_caddy": {{env.global.dynamic.other.enable_caddy}},
        "dynamic.os.prometheus.indices": {{env.es_node.dynamic.os.prometheus.indices}},
        "dynamic.os.prometheus.cluster.settings": {{env.es_node.dynamic.os.prometheus.cluster.settings}},
        "dynamic.os.prometheus.nodes.filter": {{env.es_node.dynamic.os.prometheus.nodes.filter}},
        "dynamic.os.cluster.routing.allocation.enable": {{env.es_node.dynamic.os.cluster.routing.allocation.enable}},
        "static.os.thread_pool.write.queue_size": {{env.es_node.static.os.thread_pool.write.queue_size}},
        "static.os.thread_pool.search.queue_size": {{env.es_node.static.os.thread_pool.search.queue_size}},
        "static.os.indices.memory.index_buffer_size": {{env.es_node.static.os.indices.memory.index_buffer_size}},
        "static.os.indices.fielddata.cache.size": {{env.es_node.static.os.indices.fielddata.cache.size}},
        "static.os.indices.queries.cache.size": {{env.es_node.static.os.indices.queries.cache.size}},
        "static.os.indices.requests.cache.size": {{env.es_node.static.os.indices.requests.cache.size}},
        "static.log4j.rootLogger.level": {{env.es_node.static.log4j.rootLogger.level}},
        "static.log4j.logger.action.level": {{env.es_node.static.log4j.logger.action.level}},
        "static.log4j.logger.deprecation.level": {{env.es_node.static.log4j.logger.deprecation.level}},
        "static.log4j.logger.index_search_slowlog_rolling.level": {{env.es_node.static.log4j.logger.index_search_slowlog_rolling.level}},
        "static.log4j.logger.index_indexing_slowlog.level": {{env.es_node.static.log4j.logger.index_indexing_slowlog.level}},
        "static.log4j.logger.task_detailslog_rolling.level": {{env.es_node.static.log4j.logger.task_detailslog_rolling.level}},
        "static.os.repositories.url.allowed_urls": {{env.es_node.static.os.repositories.url.allowed_urls}},
        "static.os.reindex.remote.whitelist": {{env.es_node.static.os.reindex.remote.whitelist}},
        "static.ik.local_ext_dict": {{env.es_node.static.ik.local_ext_dict}},
        "static.ik.local_ext_stopwords": {{env.es_node.static.ik.local_ext_stopwords}},
        "static.ik.remote_ext_dict": {{env.es_node.static.ik.remote_ext_dict}},
        "static.ik.remote_ext_stopwords": {{env.es_node.static.ik.remote_ext_stopwords}},
        "static.os.script.allowed_types": {{env.es_node.static.os.script.allowed_types}},
        "static.os.script.allowed_contexts": {{env.es_node.static.os.script.allowed_contexts}},
        "dynamic.os.action.destructive_requires_name": {{env.es_node.dynamic.os.action.destructive_requires_name}},
        "static.os.node.attr.data": {{env.es_node_2.static.os.node.attr.data}},
        "static.os.user_ca_enabled": {{env.global.cert.os.user_ca_enabled}},
        "cert.os.user_ca": {{env.global.cert.os.user_ca}},
        "cert.os.user_node_cert": {{env.global.cert.os.user_node_cert}},
        "cert.os.user_node_key": {{env.global.cert.os.user_node_key}}
    },
    "health_check": {
      "enable": true,
      "interval_sec": 60,
      "timeout_sec": 20,
      "action_timeout_sec": 150,
      "healthy_threshold": 2,
      "unhealthy_threshold": 4,
      "check_cmd": "appctl healthCheck",
      "action_cmd": "appctl revive"
    },
    "monitor": {
      "enable": true,
      "cmd": "appctl measure",
      "items": {
        "cluster_health_status": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "jvm_mem_heap_used_percent": {
          "unit": "%",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "jvm_threads_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "indices_indexing_index_ops": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "delta",
          "scale_factor_when_display": 0.1
        },
        "indices_search_query_ops": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "delta",
          "scale_factor_when_display": 0.1
        },
        "indices_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "shards_total": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "shards_primaries": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "indices_docs_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "indices_docs_deleted": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "nodes_avail_percent": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_nodes": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "relocating_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "initializing_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "unassigned_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_pending_tasks": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_in_flight_fetch": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "task_max_waiting_in_queue_millis": {
          "unit": "ms",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "active_shards_percent": {
          "unit": "%",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "fs_total_avail_percent": {
            "unit": "%",
            "value_type": "int",
            "statistics_type": "latest"
        },
        "os_load_average_1m": {
            "unit": "",
            "value_type": "int",
            "statistics_type": "latest",
            "scale_factor_when_display": 0.01
        },
        "os_load_average_5m": {
            "unit": "",
            "value_type": "int",
            "statistics_type": "latest",
            "scale_factor_when_display": 0.01
        },
        "os_load_average_15m": {
            "unit": "",
            "value_type": "int",
            "statistics_type": "latest",
            "scale_factor_when_display": 0.01
        }
      },
      "groups": {
        "indices_docs_group": ["indices_docs_count", "indices_docs_deleted"],
        "cluster_shards_group": ["relocating_shards", "initializing_shards", "unassigned_shards"],
        "node_shards_group": ["shards_total", "shards_primaries"],
        "os_load_group": ["os_load_average_1m", "os_load_average_5m", "os_load_average_15m"]
      },
      "display": ["cluster_health_status", "nodes_avail_percent", "number_of_nodes", "jvm_mem_heap_used_percent", "jvm_threads_count", "indices_indexing_index_ops", "indices_search_query_ops", "indices_count", "indices_docs_group", "cluster_shards_group", "node_shards_group", "number_of_pending_tasks", "number_of_in_flight_fetch", "task_max_waiting_in_queue_millis", "active_shards_percent", "fs_total_avail_percent", "os_load_group"],
      "alarm": ["cluster_health_status", "nodes_avail_percent", "number_of_nodes", "jvm_mem_heap_used_percent", "jvm_threads_count", "relocating_shards", "unassigned_shards", "number_of_pending_tasks", "number_of_in_flight_fetch", "task_max_waiting_in_queue_millis", "active_shards_percent", "fs_total_avail_percent", "os_load_average_1m", "os_load_average_5m", "os_load_average_15m"]
    }
  }, {
    "role": "es_node_3",
    "container": {
      "type": "kvm",
      "zone": "pek3",
      "image": "img-1gahq5h1"
    },
    "instance_class": {{cluster.es_node_3.instance_class}},
    "count": {{cluster.es_node_3.count}},
    "cpu": {{cluster.es_node_3.cpu}},
    "memory": {{cluster.es_node_3.memory}},
    "volume": {
      "size": {{cluster.es_node_3.volume_size}},
      "mount_point": ["/data"],
      "class": {{cluster.es_node_3.volume_class}}
    },
    "vertical_scaling_policy": "sequential",
    "services": {
      "init": {
        "cmd": "appctl init"
      },
      "start": {
        "cmd": "appctl start"
      },
      "stop": {
        "cmd": "appctl stop"
      },
      "restart": {
        "cmd": "appctl restart"
      },
      "scale_in": {
        "pre_check": "appctl preScaleInCheck",
        "cmd": "appctl scaleIn",
        "timeout": 24000
      },
      "scale_out": {
        "cmd": "appctl scaleOut",
        "timeout": 43200
      },
      "destroy": {
        "allow_force": false,
        "post_stop_service": true,
        "cmd": "appctl destroy"
      },
      "restart_rolling": {
        "type": "custom",
        "cmd": "appctl rollingRestart",
        "timeout": 2000,
        "service_params": {
          "node.ip": {{service_params.restart.node.ip}},
          "timeout": {{service_params.restart.timeout}}
        }
      },
      "dump": {
        "type": "custom",
        "cmd": "appctl dump",
        "service_params": {
          "node.ip": {{service_params.dump.node.ip}},
          "timeout": {{service_params.dump.timeout}}
        },
        "timeout": 2000
      },
      "clear_dump": {
        "type": "custom",
        "cmd": "appctl clearDump",
        "service_params": {
          "node.ip": {{service_params.clear.dump.node.ip}}
        }
      },
      "upgrade": {
        "cmd": "appctl upgrade",
        "order": 3,
        "post_start_service": true,
        "timeout": 43200
      }
    },
    "env": {
        "static.os.ssl.http.enabled": {{env.global.cert.os.ssl.http.enabled}},
        "static.os.admin_pass": {{env.es_node.static.os.admin_pass}},
        "confd.sysctl.tcp_keepalive_intvl": {{env.es_node.confd.sysctl.tcp_keepalive_intvl}},
        "confd.sysctl.tcp_keepalive_probes": {{env.es_node.confd.sysctl.tcp_keepalive_probes}},
        "confd.sysctl.tcp_keepalive_time": {{env.es_node.confd.sysctl.tcp_keepalive_time}},
        "static.log4j.clean_logs_older_than_n_days": {{env.es_node.static.log4j.clean_logs_older_than_n_days}},
        "dynamic.os.cluster.no_master_block": {{env.es_node.dynamic.os.cluster.no_master_block}},
        "static.jvm.enable_heap_dump": {{env.es_node.static.jvm.enable_heap_dump}},
        "static.os.os_additional_line1": {{env.es_node.static.os.os_additional_line1}},
        "static.os.os_additional_line2": {{env.es_node.static.os.os_additional_line2}},
        "static.os.os_additional_line3": {{env.es_node.static.os.os_additional_line3}},
        "keystore.os.key_value1": {{env.es_node.keystore.os.key_value1}},
        "keystore.os.key_value2": {{env.es_node.keystore.os.key_value2}},
        "keystore.os.key_value3": {{env.es_node.keystore.os.key_value3}},
        "keystore.os.key_value4": {{env.es_node.keystore.os.key_value4}},
        "keystore.os.key_value5": {{env.es_node.keystore.os.key_value5}},
        "static.os.gateway.recover_after_time": {{env.es_node.static.os.gateway.recover_after_time}},
        "static.os.gateway.expected_data_nodes": {{env.es_node.static.os.gateway.expected_data_nodes}},
        "static.os.gateway.recover_after_data_nodes": {{env.es_node.static.os.gateway.recover_after_data_nodes}},
        "static.os.http.cors.enabled": {{env.es_node.static.os.http.cors.enabled}},
        "static.os.http.cors.allow-origin": {{env.es_node.static.os.http.cors.allow-origin}},
        "dynamic.other.enable_exporter": {{env.es_node.prometheus.node.exporter}},
        "dynamic.other.enable_caddy": {{env.global.dynamic.other.enable_caddy}},
        "dynamic.os.prometheus.indices": {{env.es_node.dynamic.os.prometheus.indices}},
        "dynamic.os.prometheus.cluster.settings": {{env.es_node.dynamic.os.prometheus.cluster.settings}},
        "dynamic.os.prometheus.nodes.filter": {{env.es_node.dynamic.os.prometheus.nodes.filter}},
        "dynamic.os.cluster.routing.allocation.enable": {{env.es_node.dynamic.os.cluster.routing.allocation.enable}},
        "static.os.thread_pool.write.queue_size": {{env.es_node.static.os.thread_pool.write.queue_size}},
        "static.os.thread_pool.search.queue_size": {{env.es_node.static.os.thread_pool.search.queue_size}},
        "static.os.indices.memory.index_buffer_size": {{env.es_node.static.os.indices.memory.index_buffer_size}},
        "static.os.indices.fielddata.cache.size": {{env.es_node.static.os.indices.fielddata.cache.size}},
        "static.os.indices.queries.cache.size": {{env.es_node.static.os.indices.queries.cache.size}},
        "static.os.indices.requests.cache.size": {{env.es_node.static.os.indices.requests.cache.size}},
        "static.log4j.rootLogger.level": {{env.es_node.static.log4j.rootLogger.level}},
        "static.log4j.logger.action.level": {{env.es_node.static.log4j.logger.action.level}},
        "static.log4j.logger.deprecation.level": {{env.es_node.static.log4j.logger.deprecation.level}},
        "static.log4j.logger.index_search_slowlog_rolling.level": {{env.es_node.static.log4j.logger.index_search_slowlog_rolling.level}},
        "static.log4j.logger.index_indexing_slowlog.level": {{env.es_node.static.log4j.logger.index_indexing_slowlog.level}},
        "static.log4j.logger.task_detailslog_rolling.level": {{env.es_node.static.log4j.logger.task_detailslog_rolling.level}},
        "static.os.repositories.url.allowed_urls": {{env.es_node.static.os.repositories.url.allowed_urls}},
        "static.os.reindex.remote.whitelist": {{env.es_node.static.os.reindex.remote.whitelist}},
        "static.ik.local_ext_dict": {{env.es_node.static.ik.local_ext_dict}},
        "static.ik.local_ext_stopwords": {{env.es_node.static.ik.local_ext_stopwords}},
        "static.ik.remote_ext_dict": {{env.es_node.static.ik.remote_ext_dict}},
        "static.ik.remote_ext_stopwords": {{env.es_node.static.ik.remote_ext_stopwords}},
        "static.os.script.allowed_types": {{env.es_node.static.os.script.allowed_types}},
        "static.os.script.allowed_contexts": {{env.es_node.static.os.script.allowed_contexts}},
        "dynamic.os.action.destructive_requires_name": {{env.es_node.dynamic.os.action.destructive_requires_name}},
        "static.os.node.attr.data": {{env.es_node_3.static.os.node.attr.data}},
        "static.os.user_ca_enabled": {{env.global.cert.os.user_ca_enabled}},
        "cert.os.user_ca": {{env.global.cert.os.user_ca}},
        "cert.os.user_node_cert": {{env.global.cert.os.user_node_cert}},
        "cert.os.user_node_key": {{env.global.cert.os.user_node_key}}
    },
    "health_check": {
      "enable": true,
      "interval_sec": 60,
      "timeout_sec": 20,
      "action_timeout_sec": 150,
      "healthy_threshold": 2,
      "unhealthy_threshold": 4,
      "check_cmd": "appctl healthCheck",
      "action_cmd": "appctl revive"
    },
    "monitor": {
      "enable": true,
      "cmd": "appctl measure",
      "items": {
        "cluster_health_status": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "jvm_mem_heap_used_percent": {
          "unit": "%",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "jvm_threads_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "indices_indexing_index_ops": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "delta",
          "scale_factor_when_display": 0.1
        },
        "indices_search_query_ops": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "delta",
          "scale_factor_when_display": 0.1
        },
        "indices_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "shards_total": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "shards_primaries": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "indices_docs_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "indices_docs_deleted": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "nodes_avail_percent": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_nodes": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "relocating_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "initializing_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "unassigned_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_pending_tasks": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_in_flight_fetch": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "task_max_waiting_in_queue_millis": {
          "unit": "ms",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "active_shards_percent": {
          "unit": "%",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "fs_total_avail_percent": {
            "unit": "%",
            "value_type": "int",
            "statistics_type": "latest"
        },
        "os_load_average_1m": {
            "unit": "",
            "value_type": "int",
            "statistics_type": "latest",
            "scale_factor_when_display": 0.01
        },
        "os_load_average_5m": {
            "unit": "",
            "value_type": "int",
            "statistics_type": "latest",
            "scale_factor_when_display": 0.01
        },
        "os_load_average_15m": {
            "unit": "",
            "value_type": "int",
            "statistics_type": "latest",
            "scale_factor_when_display": 0.01
        }
      },
      "groups": {
        "indices_docs_group": ["indices_docs_count", "indices_docs_deleted"],
        "cluster_shards_group": ["relocating_shards", "initializing_shards", "unassigned_shards"],
        "node_shards_group": ["shards_total", "shards_primaries"],
        "os_load_group": ["os_load_average_1m", "os_load_average_5m", "os_load_average_15m"]
      },
      "display": ["cluster_health_status", "nodes_avail_percent", "number_of_nodes", "jvm_mem_heap_used_percent", "jvm_threads_count", "indices_indexing_index_ops", "indices_search_query_ops", "indices_count", "indices_docs_group", "cluster_shards_group", "node_shards_group", "number_of_pending_tasks", "number_of_in_flight_fetch", "task_max_waiting_in_queue_millis", "active_shards_percent", "fs_total_avail_percent", "os_load_group"],
      "alarm": ["cluster_health_status", "nodes_avail_percent", "number_of_nodes", "jvm_mem_heap_used_percent", "jvm_threads_count", "relocating_shards", "unassigned_shards", "number_of_pending_tasks", "number_of_in_flight_fetch", "task_max_waiting_in_queue_millis", "active_shards_percent", "fs_total_avail_percent", "os_load_average_1m", "os_load_average_5m", "os_load_average_15m"]
    }
  }, {
    "role": "lst_node",
    "container": {
      "type": "kvm",
      "zone": "pek3",
      "image": "img-lz0fh9zx"
    },
    "instance_class": {{cluster.lst_node.instance_class}},
    "count": {{cluster.lst_node.count}},
    "cpu": {{cluster.lst_node.cpu}},
    "memory": {{cluster.lst_node.memory}},
    "volume": {
      "size": {{cluster.lst_node.volume_size}}
    },
    "user_access": true,
    "services": {
      "start": {
        "cmd": "appctl start"
      },
      "stop": {
        "cmd": "appctl stop"
      },
      "restart": {
        "cmd": "appctl restart"
      },
      "upgrade": {
        "cmd": "appctl upgrade",
        "order": 6,
        "timeout": 43200
      }
    },
    "env": {
        "static.lst.config.reload.automatic": {{env.lst_node.static.lst.config.reload.automatic}},
        "static.lst.config.reload.interval": {{env.lst_node.static.lst.config.reload.interval}},
        "dynamic.other.enable_caddy": {{env.global.dynamic.other.enable_caddy}},
        "depend.os.ssl.http.enabled": {{env.global.cert.os.ssl.http.enabled}},
        "depend.lst.pipeline": {{env.lst_node.depend.lst.pipeline}},
        "depend.os.user_ca_enabled": {{env.global.cert.os.user_ca_enabled}},
        "cert.os.user_ca": {{env.global.cert.os.user_ca}}
    },
    "health_check": {
      "enable": true,
      "interval_sec": 60,
      "timeout_sec": 10,
      "healthy_threshold": 2,
      "unhealthy_threshold": 5,
      "check_cmd": "appctl healthCheck",
      "action_cmd": "appctl revive"
    }
  }, {
    "role": "kbn_node",
    "container": {
      "type": "kvm",
      "zone": "pek3",
      "image": "img-508e8o7a"
    },
    "instance_class": {{cluster.kbn_node.instance_class}},
    "count": {{cluster.kbn_node.count}},
    "cpu": {{cluster.kbn_node.cpu}},
    "memory": {{cluster.kbn_node.memory}},
    "services": {
      "start": {
        "cmd": "appctl start"
      },
      "stop": {
        "cmd": "appctl stop"
      },
      "restart": {
        "cmd": "appctl restart"
      },
      "upgrade": {
        "cmd": "appctl upgrade",
        "order": 5,
        "timeout": 43200
      }
    },
    "env": {
        "proxy.balance.policy": {{env.kbn_node.proxy.balance.policy}},
        "proxy.backend.select": {{env.kbn_node.proxy.backend.select}},
        "proxy.connect.timeout": {{env.kbn_node.proxy.connect.timeout}},
        "proxy.timeout": {{env.kbn_node.proxy.timeout}},
        "proxy.max.conn": {{env.kbn_node.proxy.max.conn}},
        "nginx_client_max_body_size": {{env.kbn_node.nginx_client_max_body_size}},
        "static.os.ssl.http.enabled": {{env.global.cert.os.ssl.http.enabled}},
        "dynamic.other.enable_caddy": {{env.global.dynamic.other.enable_caddy}},
        "dynamic.other.enable_cerebro": {{env.kbn_node.dynamic.other.enable_cerebro}},
        "cert.os.user_ca_enabled": {{env.global.cert.os.user_ca_enabled}},
        "cert.os.user_ca": {{env.global.cert.os.user_ca}}
    },
    "health_check": {
      "enable": true,
      "interval_sec": 60,
      "timeout_sec": 10,
      "action_timeout_sec": 150,
      "healthy_threshold": 2,
      "unhealthy_threshold": 3,
      "check_cmd": "appctl healthCheck",
      "action_cmd": "appctl revive"
    }
  }],
  "display_tabs": {
    "logstash demo": {
      "cmd": "appctl showTabForDemoPipelineConfig",
      "roles_to_execute_on": ["lst_node"],
      "description": "Demo config for logstash pipeline.",
      "timeout": 10
    }
  },
  "endpoints": {
    "reserved_ips": {
      "esvip": {
        "value": ""
      }
    },
    "OpenSearch": {
      "port": 9200,
      "protocol": "http"
    },
    "Logstash": {
      "port": 9600,
      "protocol": "http"
    },
    "Dashboard": {
      "port": 5601,
      "protocol": "http"
    },
    "Node Exporter": {
      "port": 9100,
      "protocol": "http"
    },
    "Opensearch Exporter": {
      "port": 9200,
      "protocol": "http"
    },
    "Cerebro on Dashboard": {
      "port": 9000,
      "protocol": "http"
    }
  }
}
